- name: Copy file with owner and permissions
  ansible.builtin.copy:
    src: files/{{ item }}
    dest: /IFS/scripts/
    owner: root
    group: root
    mode: '0644'
  loop:
    -  cnb_private.key
    -  orhp_cnb_sftp_batch_upload.bat
    -  orhp_sftp_cnb_upload_final.sh

- name: Run a CNB SFTP UPLOAD script
  ansible.builtin.script:
    cmd: /IFS/scripts/orhp_sftp_cnb_upload_final.sh
